
{{ form_start(form,{'attr':{'onsubmit':'return validarut()'}})  }}
<hr>
<h4>Datos Cliente</h4>
<div class="row">
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Nombre</small>
		{{form_row(form.nombre,{'label':false,'attr':{'class':'form-control','autocomplete':"ÑÖcompletes"}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Rut *</small>
		{{form_row(form.rut,{'label':false,'attr':{'class':'form-control format-rut','autocomplete':"ÑÖcompletes",'required':true}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Email *</small>
		{{form_row(form.email,{'label':false,'attr':{'class':'form-control','autocomplete':"ÑÖcompletes",'required':true}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Dirección *</small>
		{{form_row(form.direccion,{'label':false,'attr':{'class':'form-control','autocomplete':"ÑÖcompletes"}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Nacionalidad *</small>
		{{form_row(form.pais,{'label':false,'attr':{'class':'form-control','required':true,'autocomplete':"ÑÖcompletes"}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Ciudad *</small>
		{{form_row(form.ciudad,{'label':false,'attr':{'class':'form-control','autocomplete':"ÑÖcompletes"}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Comuna *</small>
		{{form_row(form.comuna,{'label':false,'attr':{'class':'form-control','autocomplete':"ÑÖcompletes"}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Telefono *</small>
		{{form_row(form.telefono,{'label':false,'attr':{'class':'form-control','autocomplete':"ÑÖcompletes",'required':true}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Telefono recado</small>
		{{form_row(form.telefonoRecado,{'label':false,'attr':{'class':'form-control','autocomplete':"ÑÖcompletes"}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Estado Civil *</small>
		{{form_row(form.estadoCivil,{'label':false,'attr':{'class':'form-control','required':true}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Vivienda</small>
		{{form_row(form.vivienda,{'label':false,'attr':{'class':'form-control'}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Vehiculo</small>
		{{form_row(form.vehiculo,{'label':false,'attr':{'class':'form-control'}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Situación Laboral *</small>
		{{form_row(form.situacionLaboral,{'label':false,'attr':{'class':'form-control','required':true}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Clave única</small>
		{{form_row(form.claveUnica,{'label':false,'attr':{'class':'form-control','autocomplete':"ÑÖcompletes"}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Reunion</small>
		{{form_row(form.reunion,{'label':false,'attr':{'class':'form-control'}})}}
    </div>
</div>
<hr>
<h4>Contrato</h4>
<div class="row">

    
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Estrategia Juridica *</small>
		{{form_row(form.estrategiaJuridica,{'label':false,'attr':{'class':'form-control','required':true}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Escritura *</small>
		{{form_row(form.escritura,{'label':false,'attr':{'class':'form-control','required':true}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Sucursal *</small>
        <select name="cboSucursal" id="sucursal" required class="form-control">
            <option value=""></option>
            {% for sucursal in sucursales %}
                <option value="{{sucursal.id}}">{{sucursal.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Tramitador *</small>
        <select name="cboTramitador" id="tramitador" required class="form-control">
            <option value=""></option>
            {% for tramitador in tramitadores %}
                <option value="{{tramitador.id}}">{{tramitador.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Monto nivel de deuda</small>
		{{form_row(form.montoNivelDeuda,{'label':false,'attr':{'class':'form-control nivel-deuda','autocomplete':"ÑÖcompletes"}})}}
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted">Monto contrato *</small>
        {{form_row(form.MontoContrato,{'label':false,'attr':{'class':'form-control monto-contrato number','required':true,'autocomplete':"ÑÖcompletes"}})}}
        <strong><label id="m-monto-contrato"></label></strong>
    </div>
    
    <div class="col-sm-12 col-md-3">
        <div class="row"><small class="text-muted">Abono *</small>
        
        {{form_row(form.isAbono,{'label':false,'attr':{'class':' chk-bono'}})}}</div>
        
        {{form_row(form.primeraCuota,{'label':false,'attr':{'class':'form-control primera-cuota number','required':true,'autocomplete':"ÑÖcompletes"}})}}
        
        <strong><label id="m-primera-cuota"></label></strong>
    </div>
    
    <div class="col-sm-12 col-md-3">
        <small class="text-muted t-cuotas" >Cuotas *</small>
		{{form_row(form.cuotas,{'label':false,'attr':{'class':'form-control cuotas number','required':true,'autocomplete':"ÑÖcompletes"}})}}
    </div>
    
    <div class="col-sm-12 col-md-3">
        <small class="text-muted t-valor-cuota">Valor cuota *</small>
        {{form_row(form.valorCuota,{'label':false,'attr':{'class':'form-control valor-cuota','required':true,'autocomplete':"ÑÖcompletes"}})}}
        <strong><label id="m-valor-cuota"></label></strong>
    </div>
    

    <div class="col-sm-12 col-md-12">
        <small class="text-muted">Dias de Pago *</small>
        <br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            {% for diasPago in diasPagos %}
            <label class="btn btn-success 
            {% if contrato.diaPago == diasPago.dias %}
            active
            {% endif %}">
                <input type="radio" name="chkDiasPago" id="chkDiasPago{{diasPago.dias}}" autocomplete="off" 
                {% if contrato.diaPago == diasPago.dias %}
                            checked
                {% endif %}
                 value="{{diasPago.dias}}" required>{{diasPago.nombre}}
            </label>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted t-mes-pago">Mes Primer Pago</small>
        <input type="text" name="txtFechaPago" class="form-control primer-pago">    
    </div>
    <div class="col-sm-12 col-md-3">
        <small class="text-muted  ">Vigencia en Meses</small>
        {{form_row(form.vigencia,{'label':false,'attr':{'class':'form-control'}})}}
    </div>
    
</div>
<hr>

<div class="card">
    <div class="card-header">
        
        <div class="row">
            
            <div class="col-sm-12 col-md-3">*
                <input type="text" name="nombreRol" class="form-control nombre-rol" placeholder="Nombre de rol"> 
            </div>    
            <div class="col-sm-12 col-md-3">*
                <input type="text" name="institucionAcreedora" class="form-control institucion" placeholder="Institucion Acreedora"> 
            </div>   
            <div class="col-sm-12 col-md-3">
                *
                <select name="juzgado" class="form-control juzgado">
                    <option value="">  </option>
                    {% for juzgado in juzgados %}
                        <option value="{{juzgado.id}}">{{juzgado.nombre}}</option>
                    {% endfor %}
                </select> 
            </div>   
            <div class="col-sm-12 col-md-1">
                {% if contrato.id is null %}
                <button type="button" class="btn btn-primary btn-agregar" onclick="javascript:agregarRol()"><i class="fas fa-plus"></i></button>

                <script>
                    $.ajax({
                        url:"{{path('panel_abogado_new_rol')}}",
                        type: "get",
                        dataType: "html",
                        cache: false,
                        contentType: false,
                        processData: false,
                        async: true,
                        success:function(data){
                            $("#contratoRoles").html(data);
                        }
                
                    });
                </script>
                {% else %}
                <script>
                    $.ajax({
                        url:"{{path('contrato_new_rol',{'id':contrato.id,'mode':'view'})}}",

                        type: "get",
                        dataType: "html",
                        cache: false,
                        contentType: false,
                        processData: false,
                        async: true,
                        success:function(data){
                            $("#contratoRoles").html(data);
                            $('.nombre-rol').val("");
                            $('.institucion').val("");
                            $('.juzgado').val("");
                        }
                
                    });
            
                </script>
                {% endif %}
            </div>
            
    
        </div>
 
    </div>
    
    <div class="card-body" id="contratoRoles">
        
    </div>

    <div class="col-sm-12 col-md-12">
        <small class="text-muted">Observación</small><br>
        
        {{form_row(form.observacion,{'label':false,'attr':{'class':'form-control','required':true}})}}
    </div>
</div>
{{form_row(form.fechaPrimeraCuota,{'label':false,'attr':{'class':'form-control','style':'visibility:hidden'}})}}
{% if contrato.id is null %}
<button class="btn btn-primary">Preparar Contrato</button>
{% endif %}
<script>
    $('.primera-cuota').css("visibility", "hidden");
    $('.cuotas').change(function(){
        recalcula();
    });
    $('.monto-contrato').change(function(){
        recalcula();
        $("#m-monto-contrato").html($.number( $(this).val(), 0, ',', '.' ));
    });
    $('.primera-cuota').change(function(){
        recalcula();
        $("#m-primera-cuota").html($.number( $(this).val(), 0, ',', '.' ));
    });
    $('.interes').change(function(){
        recalcula();
    });
    function recalcula()
    {
        var _montoContrato=$('.monto-contrato').val();
        var _primeraCuota=$('.primera-cuota').val();
        console.log(_montoContrato);
        console.log(_primeraCuota);
        var montoContrato=parseInt( _montoContrato)-parseInt(_primeraCuota);
        console.log(montoContrato);
        var cuotas=parseInt($('.cuotas').val());
        var interes=0;
        if(cuotas < 1){
            var valorCuota=0;
        }else{
            var valorCuota=(montoContrato+(montoContrato/100*interes))/cuotas;
        }
        $('.valor-cuota').val(Math.round(valorCuota));
        $("#m-valor-cuota").html($.number( $('.valor-cuota').val(), 0, ',', '.' ));
    }
    $(document).ready(function(){
        $('.monto-contrato').val('0');
        $('.cuotas').val('1');
        $('.primera-cuota').val(0);
        $(".fecha-primera-cuota").val(moment().format('YYYY-MM-DD'));
        $(".format-rut").rut();
        $(".number").inputmask({
            mask: "9",
            repeat:20,
        });

        //$('.monto-contrato').inputmask("999.999.999",{ placeholder:" ",numericInput: true, clearMaskOnLostFocus: true ,showMaskOnFocus: true});
        
       
        $('.primer-pago').daterangepicker({
            "singleDatePicker": true,
            "drops": "up",
            "defaultDate": "{{contrato.fechaCreacion|date('Y-m-d')}}",
            "minDate":"{{contrato.fechaCreacion|date('Y-m-d')}}",
            "locale": {
                "format": "YYYY-MM-DD",
                "applyLabel": "Apply",
                "cancelLabel": "Cancel",
            }
        }, function(start, end, label) {
        });
        
    });
    function agregarRol(){
        $.ajax({
            url:"{{path('panel_abogado_new_rol')}}",
            type: "get",
            data:"nombre="+$('.nombre-rol').val()+"&institucion="+$('.institucion').val()+"&juzgado="+$('.juzgado').val(),
            dataType: "html",
            cache: false,
            contentType: false,
            processData: false,
            async: true,
            beforeSend: function(){
                $(".btn-agregar").attr("disabled", true);
                $("#contratoRoles").html(' <div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div></div>');

            },
            success:function(data){
                $("#contratoRoles").html(data);
                $('.nombre-rol').val("");
                $('.institucion').val("");
                $('.juzgado').val("");
                $(".btn-agregar").attr("disabled", false);
            }
    
        });
    }
    function eliminarRol(id){
        $.ajax({
            url:"/panel_abogado/"+id+"/del_rol",
            type: "DELETE",
            dataType: "html",
            cache: false,
            contentType: false,
            processData: false,
            async: true,
            beforeSend: function(){
                $("#contratoRoles").html(' <div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i></div>');
                
            },
            success:function(data){
                $("#contratoRoles").html(data);
            }
    
        });
    }
    function validarut(){
        $('button').attr("disabled", true);
        //$('.primera-cuota,.valor-cuota,.monto-contrato,.nivel-deuda').inputmask('remove');
        if($("#Institucion").val()==0){
            alert("Debe ingresar almenos una Insitution Acreedora");
            $(".nombre-rol").focus();
            $('button').attr("disabled", false);
            return false;
        }

        if($(".monto-contrato").val()<=0){
            alert("Debe ingresar un monto");
            $(".monto-contrato").focus();
            $('button').attr("disabled", false);
            return false;
        }
        if($.validateRut($(".format-rut").val())) {
            return true;
        }
        alert("Rut no valido");

        $(".format-rut").focus();
        $('button').attr("disabled", false);
        

        return false;
    }
    $('.datepicker').daterangepicker({
        "singleDatePicker": true,
        "drops": "up",
        "minDate": moment().format("YYYY-MM-DD"),
        "locale": {
            "format": "YYYY-MM-DD",
        
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
        }
    }, function(start, end, label) {
        
    });
    
    $(".chk-bono").change(function(){
        
        if($(this).prop( "checked" )){
            $('.primera-cuota').css("visibility", "visible");
            $('.t-cuotas').html('Cuotas restantes *');
            $('.t-valor-cuota').html('Valor Cuotas Restantes *');
            $('.t-mes-pago').html('Mes Segundo Pago');
            $('.primer-pago').daterangepicker({
                "singleDatePicker": true,
                "drops": "up",
                "minDate": "{{contrato.fechaCreacion|date('Y-m-d')}}",
                "locale": {
                    "format": "YYYY-MM-DD",
                    "applyLabel": "Apply",
                    "cancelLabel": "Cancel",
                }
            }, function(start, end, label) {
            });

        }else{
            $('.primera-cuota').css("visibility", "hidden");
            $('.primera-cuota').val(0);
            $('#m-primera-cuota').html("");
            $('.t-cuotas').html('Cuotas *');
            $('.t-valor-cuota').html('Valor Cuotas *');
            $('.t-mes-pago').html('Mes Primer Pago');
            $('.primer-pago').daterangepicker({
                "singleDatePicker": true,
                "drops": "up",
                "defaultDate": "{{contrato.fechaCreacion|date('Y-m-d')}}",
                "minDate": "{{contrato.fechaCreacion|date('Y-m-d')}}",
                "locale": {
                    "format": "YYYY-MM-DD",
                    "applyLabel": "Apply",
                    "cancelLabel": "Cancel",
                }
            }, function(start, end, label) {
            });
        }
        recalcula();
    });
    $('.primer-pago').inputmask("9999-99");
</script>
{{ form_end(form) }}