{% extends 'base.html.twig' %}

{% block title %}{{pagina|default('')}}{% endblock %}

{% block body %}
<section>


    
    <div class="card">
        <div class="card-header">
            Filtro
        </div>
        <div class="card-body">
            
            <form action="{{path('reporte_abogado')}}" method="get" id="bForm">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <select name="bCompania" class="form-control">
                        <option value="0">Todos</option>
                        {% for compania in companias %}
                            <option value="{{compania.id}}"
                            {% if bCompania==compania.id %}
                                selected
                            {% endif %}
                            >{{compania.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-12 col-md-3">
                    <input type="text" class="form-control" name="bFiltro" placeholder="Nombre/Email/Telefono" value="{{bFiltro}}">
                </div>
                <div class="col-sm-12 col-md-2">
                    <select name="bTipofecha" class="form-control">
                        <option value="0" {% if tipoFecha==0 %}
                            selected
                        {% endif %}>Fecha Carga</option>
                        <option value="1" {% if tipoFecha==1 %}
                        selected
                    {% endif %}>Fecha Asignado</option>
                        <option value="2" {% if tipoFecha==2 %}
                        selected
                    {% endif %}>Fecha Contrato</option>

                    </select>
                </div>
                <div class="col-sm-12 col-md-3">
                    <input type="text" class="form-control" name="bFecha" id="bFecha"  value="">
                </div>
                <div class="col-sm-12 col-md-1">
                    <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
           

            </div>
            </form>
        </div>  
        
    </div>
</section>
</form>
<section>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Listado</h3> 
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
        
            <table class="table table-head-fixed text-nowrap table-striped table-sm">
                <thead>
                    <tr>
                        <th>Abogado</th>
                        <th>Agendados</th>
                        <th>No Califica</th>
                        <th>No Contrata</th>
                        <th>Contrata</th>
                        <th>Ratifica Termino</th>
                        <th>Efectividad (%)</th>
                        <th>Honorarios</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reporte in reportes %}

                    <tr>
                        <td>{{ reporte.abogado_nombre }}</td>
                        <td>{{ reporte.total}}</td>
                        <td>{{ reporte.nocalifica}}</td>
                        <td>{{ reporte.nocontrata}}</td>
                        <td>{{ reporte.contrata}}</td>
                        <td>{{ reporte.ratificatermino}}</td>
                        <td>{{ (((reporte.contrata-reporte.ratificatermino)*100)/((reporte.total-reporte.nocalifica)?(reporte.total-reporte.nocalifica):1))|number_format(1,",",".")}}</td>
                        <td>$0</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="10">No hay registros</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    $('#bFecha').daterangepicker({
        
        "drops": "down",
        "startDate":"{{dateInicio}}",
        "endDate": "{{dateFin}}",
        "locale": {
            "format": "YYYY-MM-DD",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
        }
    }, function(start, end, label) {
    console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
    
    });
    
</script>
{% endblock %}